/* var */
:root{
    --maincolor:#4690ce;
    --secoundcolor: #ffc51f;
    --thirdcolor:#a03031;
    --textlight:white;
    --textdark:black;

}
/*some simple resets*/
html, body, footer, div, article, section, header, p, h1, h2, h3, ol, li {
    padding: 0;
    margin: 0;
    color: white;
}

article, section, footer {
    padding: 1rem 0;
    background-color: #a03031;
}


.inner {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 80%;
}

/*Light background*/
.bglight {
    background-color:#0a3f6b ;
}
.bglight p {
    color: rgb(255, 255, 255);
}



/*dark background*/
.bgdark {
    background-color: var(--maincolor);
}
.bgdark p {
    color: white;
}
.bgdark h1,
.bgdark h2,
.bgdark h3 {
    color: blanchedalmond;
}



/* Header Styles */
header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: .5rem;
}
nav .logo, nav .logo img {
    max-width: 40px;
}
header nav li {

}

header nav li a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: #8f5512;
    padding: 0.5rem;
    line-height: 50px;
    box-sizing: content-box;
    height: 3rem;
    width: 9rem;
    display: block;
    padding: 0.25rem 1rem;
    transition: 250ms;
}

header nav li a:hover {
    background-color: #015499 ;
    color: #ffc51f;

}



/* buttons */
button{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #ffc51f;
    transition: 200ms;
    color: #8f5512;

}
button:hover{
        background-color: #8f5512;
    color: #ffc51f ;
    border-color: #ffc51f;
}

/*mobile menu*/
a.navbar.notMain {
    display: none;
}

.secondary{
    background-color: #8f5512;
    transition: 200ms;
    color: #ffc51f;
    border-color: #ffc51f;
}
.secondary:hover{
    background-color: #ffc51f;
    color: #8f5512 ;
    border-color: #8f5512;
}
li {
    list-style: none}
a {
    text-decoration: none;
    color:#ff5255;
}

@font-face{
    
}
h1{
    color: #ffc51f;
    font-family: 'Big Shoulders Display', cursive;

}
h3{
        color: #ffc51f;
        font-family: 'Big Shoulders Display', cursive;

}















@media only screen and (min-width: 500px) {
    .inner {
        margin: 0 auto;
        padding: 0 5rem;
        max-width: 80%;
    }
    a.navbar.notMain {
        display: block;
    }
}

@media only screen and (min-width: 769px) {
    .inner {
        margin: 0 auto;
        padding: 0 5rem;
        max-width: 80%;
    }
    a.navbar.notMain {
        display: block;
    }
}


@media only screen and (min-width: 1025px) {
    .inner {
        margin: 0 auto;
        padding: 0 5rem;
        max-width: 800px;
    }
}


@media only screen and (min-width: 1201px) {
    .inner {
        margin: 0 auto;
        padding: 0 5rem;
        max-width: 800px;
    }
}
