/* var */
:root{
    --maincolor:#4690ce;
    --secoundcolor: #ffc51f;
    --thirdcolor:#a03031;
    --textlight:white;
    --textdark:black;

}
/*some simple resets*/
html, body, footer, div, article, section, header, p, h1, h2, h3, ol, li {
    padding: 0;
    margin: 0;
}

article, section, footer {
    padding: 1rem 0;
}


.inner {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 80%;
}

/*Light background*/
.bglight {
    background-color: rgb(218, 218, 218);
}
.bglight p {
    color: black;
}



/*dark background*/
.bgdark {
    background-color: var(--maincolor);
}
.bgdark p {
    color: white;
}
.bgdark h1,
.bgdark h2,
.bgdark h3 {
    color: blanchedalmond;
}



/* Header Styles */
header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: .5rem;
}
nav .logo, nav .logo img {
    max-width: 40px;
}
header nav li {

}

header nav li a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: #6060f7;
    padding: 0 .5rem;
    line-height: 50px;
    box-sizing: content-box;
    height: 50px;
    display: block;
}

header nav li a:hover {
    background: blue;
}


/*mobile menu*/
a.navbar.notMain {
    display: none;
}

















@media only screen and (min-width: 500px) {
    .inner {
        margin: 0 auto;
        padding: 0 5rem;
        max-width: 80%;
    }
    a.navbar.notMain {
        display: block;
    }
}

@media only screen and (min-width: 769px) {
    .inner {
        margin: 0 auto;
        padding: 0 5rem;
        max-width: 80%;
    }
    a.navbar.notMain {
        display: block;
    }
}


@media only screen and (min-width: 1025px) {
    .inner {
        margin: 0 auto;
        padding: 0 5rem;
        max-width: 800px;
    }
}


@media only screen and (min-width: 1201px) {
    .inner {
        margin: 0 auto;
        padding: 0 5rem;
        max-width: 800px;
    }
}
